!gitignore
!README.md

!secrets
secrets/**

!shared
shared/**

!logs
logs/**

compose/logs/*
.env

appdata/*
!appdata/docker-gc
appdata/docker-gc/*

!appdata/filebrowser
appdata/filebrowser/*
!appdata/filebrowser/settings_default.json
!appdata/filebrowser/filebrowser_default.db

!appdata/homepage
appdata/homepage/*
!appdata/homepage/

!appdata/plex
appdata/plex/**

!appdata/portainer
appdata/portainer/**
